#page {
    display: none;
}
#page  {
    width: 100%;
}

#loader {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

#loader img {
    width: 100%,;
    
}